@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Medium.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
}

/* variables */

:root {
  --main-color: #DD4A4A;
  --light-color: #D8D8D8;
  --dark-color: #222222;
}

/* classes */

.border-decor {
  border-left: 6px solid;
  border-radius: 2px;

  &.light { border-left-color: var(--main-color); }
  &.dark { border-left-color: var(--dark-color); }
}

.center {
  text-align: center !important;
}

/* general */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	background-image: url("img/bg.png");
		background-attachment: fixed;
	font-family: "Quicksand", sans-serif;
		font-size: 16px;
		color: var(--dark-color);
}

body {
	display: grid;
		grid-template:
			"hd hd hd" max-content
			"a1 mn a2" max-content
			".. ft .." max-content
			/ minmax(170px, 1fr) 4fr 250px;
		gap: 1rem;
	background-color: transparent;
	width: 100%;
	max-width: 1300px;
	padding: 0 1rem;
	margin: 0.75rem auto 4rem;

  .site-header { grid-area: hd; }
  .nav-main { grid-area: a1; }
  .nav-new { grid-area: a2; }
  .site-footer { grid-area: ft; }
  .main { grid-area: mn; }
}

a {
  &:link, &:visited { color: var(--main-color); }
  &:link { text-decoration-line: none; }
  &:hover { text-decoration-line: underline; }
}

address {
	display: inline;
	font-style: normal;
}

.site-header {
	padding-left: 1rem;
	font-size: 1.25rem;
}

.nav-main,
.nav-new {
  display: grid;
    align-content: start;
    gap: 1rem;
  height: max-content;

  nav {
    border-bottom: 1px solid var(--light-color);
  }

  h2 {
    background-color: var(--dark-color);
    padding: 5px 10px;
    border-left: 6px solid var(--dark-color);
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 1.125rem;
  }

  a:has(> h2) {
    text-decoration-line: none;
  }

  ul {
    margin: 0.75rem 1rem 1rem 2rem;
    font-size: 0.9rem;

    li { margin: 0.3rem 0; }
  }
}

.site-footer {
	font-size: 0.875rem;
	text-align: right;
}

.main {
	background-color: #FFFFFF;
	padding: 2rem min(6%, 2.5rem);
	border-left: 6px solid var(--main-color);
	border-radius: 2px;

  h1 {
    margin-bottom: 1.3rem;
    font-size: 2rem;
  }

  h2 {
    margin: 1.2rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 1.5rem 0;
    text-align: justify;
    line-height: 1.6rem;

    &.center { margin: 2rem 0; }
  }

  hr {
    border: 0;
    border-bottom: 1px solid var(--light-color);
    margin: 2.5rem 0;
  }

  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 1069px) {
	body {
		grid-template:
			"hd hd" max-content
			"a1 mn" max-content
			"a2 a2" max-content
			"ft ft" max-content
			/ minmax(170px, 1fr) 4fr;
	}

	.nav-new {
		display: grid;
			grid-template-columns: 2fr 3fr;
	}
}

@media screen and (max-width: 803px) {
	body {
		grid-template:
			"hd" max-content
			"a1" max-content
			"mn" max-content
			"a2" max-content
			"ft" max-content
			/ 1fr;
	}

  .nav-main {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 0.3rem;
    place-self: unset;

    nav {
      border-bottom: none;
    }

    h2 {
      display: none;
    }

    ul {
      margin: 0;
      font-size: 1rem;

      li {
        display: inline;
        margin: 0 0.5rem;
      }
    }
  }

  .nav-new{
    grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
  }
}