<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">

    <title>{{ title + " / " + site.name }}</title>
    <meta
      name="author"
      content="{{ site.author }}">
    <meta
      name="description"
      content="{{ site.author }}'s online homepage.">

    <link
      rel="icon"
      href="/css/img/favicon.png"
      type="image/x-icon"/>
    <link
      rel="stylesheet"
      href="/css/style.css"
      type="text/css" media="all"/>
    {{ if extraCSS }}
    <link
      rel="stylesheet"
      href="/css/{{ extraCSS }}"
      type="text/css" media="all"/>
    {{ /if }}
  </head>

  <body>
    {{ comp.siteHeader() }}
    {{ comp.navBar() }}

    {{ content }}

    {{ comp.newsBar() }}
    {{ comp.siteFooter() }}
  </body>
</html>
