<aside>
  <nav>
    <a href="/games"><h2>Games</h2></a>
    <ul role="list">
      {{ for game of games }}
      <li><a href="{{ game.link }}" rel="external">{{ game.title }}</a></li>
      {{ /for }}
    </ul>
  </nav>

  <nav>
    <a href="/blog"><h2>Recent Posts</h2></a>
    <ul role="list">
      {{ for post of search.pages("type=post url!=false", "date=desc", 5) }}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {{ /for }}
    </ul>
  </nav>
</aside>