<aside>
  <nav>
    <a href="/games"><h2>Games</h2></a>
    <ul role="list">
      {{# TODO: iterate through games #}}
    </ul>
  </nav>

  <nav>
    <a href="/blog"><h2>Recent Posts</h2></a>
    <ul role="list">
      {{# TODO: iterate through posts to display the 5 most recent ones #}}
    </ul>
  </nav>
</aside>